build/
.settings
.project
.cproject
.directory
.idea
.cache
.pydevproject
*.pyc
~lock.*
.ptp-sync-folder
.ptp-sync/
.DS_Store
demos/ipmlog.txt
demos/*.log
demos/demo.pro.user*
.ipmlog.txt
.vscode/
CMakeLists.txt.user
environment.yml
*log*

